/* This is how you comment css files */

body {
	background-color: lavender;
}

.header {
	font-size: 25px;
	color: black;
	background: white;
	text-align: center;
	margin:  0 auto;
	width: 150px;
	border: 1px solid black;
	margin-bottom: 5px;
}

h3 {
	background-color:  white;
	width: fit-content;
	border: 1px solid black;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 5px;
	text-decoration: underline;
	padding-left: 2px;
	padding-right: 2px;
}

h4 {
	text-decoration: underline; /* overline, line-through. text-decoration-color/style. */
	text-align: center;
	margin-top: 5px;
	margin: 0 auto;
	/* text-transform: capitalize, etc.; can be used to, well, transform your text */
	/* text-align: ; can be used to align text */
}

.wrapper {
	margin: 0 auto;
	width: 70%;
}

.wrapper div {
	background: white;
	border: 1px solid black;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.images {
	text-align: center;
	image-rendering: auto;
}

img {
	height: 95%;
	width:  95%;
}

.highlight {
	background: yellow;
}

.css-wrapper {
	width: 95%;
	background: transparent !important;
	border: none !important;
}

/* Pokemon Card */
.first-pokemon {
	background-image: url(../img/start.jpg);
	padding: 10px;
	height: 568px;
	width:  400px;
	background-color: transparent;
	border-color: transparent;
}
.level {
	padding-left:  10px;
	background-color: transparent;
	border-color: transparent;
}
.name {
	padding-left: 10px;
	background-color: transparent;
	border-color: transparent;
}
.pic {
	padding-left: 45px;
	background-color: transparent;
	border-color: transparent;
}
.abilities {
	padding-top: 10px;
	padding-left:  30px;
	background-color: transparent;
	border-color: transparent;
}
.specials {
	padding-top:  9px;
	padding-left: 13px;
	background-color: transparent;
	border-color: transparent;
} 
/* End of Pokemon Card */

.font {
	font-family: monospace, arial, sans-serif;
	font-size:  13px;
}

.italics {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.bolder {
	font-weight: bolder;
}

.selectors-specificity b{
	color: red;
}

.HTML-Lists ol {
	list-style-position: inside;
}

.HTML-Lists ul {
	text-align: left;
	list-style-type: circle;
	background-color: mediumpurple;
	padding: 5px;
	margin-left: 20px;
}

.HTML-Lists ul li {
	background: white;
	margin-bottom: 5px;
	width: fit-content;
}

